@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
@media screen and (max-width: 1240px) {
  #root {
    width: auto;
    margin: 0;
  }
}

.hero {
  width: 100%;
  height: 223px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1240px) {
  .hero {
    padding: 0 20px;
  }
}
@media screen and (max-width: 375px) {
  .hero {
    height: 111px;
  }
}
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(80%);
}
.hero__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  color: #FFFFFF;
  position: absolute;
}
@media screen and (max-width: 375px) {
  .hero__title {
    font-size: 24px;
    line-height: 24px;
    width: 80%;
    margin: auto 16px;
  }
}

.thumb {
  width: 340px;
  height: 340px;
  position: relative;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
}
@media screen and (max-width: 375px) {
  .thumb {
    width: 335px;
    height: 255px;
  }
}
.thumb__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(80%) contrast(150%);
  border-radius: 10px;
}
.thumb__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  align-self: flex-end;
  margin-left: 20px;
  margin-bottom: 20px;
}

.dropdown__section {
  background-color: #FF6060;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5.61px 18.08px 7.39px 18.08px;
  margin-top: 31px;
}
.dropdown__section--title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #FFFFFF;
}
.dropdown__section--text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #FF6060;
  padding: 27px 27px 19px 27px;
  background-color: #F6F6F6;
  border-radius: 0 0 5px 5px;
}
.dropdown__section--list {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #FF6060;
  padding: 27px 27px 19px 27px;
  background-color: #F6F6F6;
  border-radius: 0 0 5px 5px;
  list-style: none;
}
.dropdown.reduit {
  width: 582px;
}
@media screen and (max-width: 1240px) {
  .dropdown.reduit {
    width: 100%;
  }
}

.slider {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1240px) {
  .slider {
    padding: 0 20px;
  }
}
@media screen and (max-width: 375px) {
  .slider {
    height: 255px;
  }
}
.slider__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.slider__navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24.92px 23.36px;
}
.slider__navigation--suivant, .slider__navigation--precedent {
  height: 79.2px;
}
@media screen and (max-width: 375px) {
  .slider__navigation--suivant, .slider__navigation--precedent {
    height: 19.8px;
    width: 11.67px;
  }
}
.slider__navigation--chiffre {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #FFFFFF;
  align-self: flex-end;
}
@media screen and (max-width: 375px) {
  .slider__navigation--chiffre {
    display: none;
  }
}

.intro {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1240px) {
  .intro {
    padding: 0 20px;
  }
}
@media screen and (max-width: 375px) {
  .intro {
    flex-direction: column;
  }
}
.intro__gauche--titre {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  color: #FF6060;
}
@media screen and (max-width: 375px) {
  .intro__gauche--titre {
    font-size: 18px;
    line-height: 25.67px;
  }
}
.intro__gauche--localisation {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #FF6060;
}
@media screen and (max-width: 375px) {
  .intro__gauche--localisation {
    font-size: 14px;
    line-height: 19.96px;
  }
}
@media screen and (max-width: 375px) {
  .intro__droite {
    margin-top: 16px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.profil {
  display: flex;
  align-items: center;
}
.profil__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #FF6060;
  margin-right: 10px;
}
@media screen and (max-width: 375px) {
  .profil__name {
    font-size: 12px;
    line-height: 17.11px;
  }
}
.profil__picture {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
@media screen and (max-width: 375px) {
  .profil__picture {
    height: 32px;
    width: 32px;
  }
}

.note {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 24px;
}
@media screen and (max-width: 375px) {
  .note {
    margin-top: 0;
  }
}
@media screen and (max-width: 375px) {
  .note img {
    width: 15px;
    height: 15px;
  }
}

.tags {
  display: flex;
  margin-top: 20px;
}
@media screen and (max-width: 375px) {
  .tags {
    margin-top: 10px;
  }
}
.tags__tag {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  color: #FFFFFF;
  background: #FF6060;
  border-radius: 10px;
  padding: 3px 30px;
  margin-right: 10px;
}
@media screen and (max-width: 375px) {
  .tags__tag {
    font-size: 10px;
    width: 80px;
    height: 18px;
    padding: 0;
    text-align: center;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 63px;
}
@media screen and (max-width: 1240px) {
  .header {
    padding: 0 20px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    margin-bottom: 19.71px;
  }
}
@media screen and (max-width: 375px) {
  .header__logo {
    width: 145px;
  }
  .header__logo--img {
    width: 145px;
    object-fit: cover;
  }
}
.header__liens {
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 375px) {
  .header__liens {
    align-items: center;
  }
}
.header__liens--url {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #FF6060;
  text-decoration: none;
  margin-left: 57px;
}
@media screen and (max-width: 375px) {
  .header__liens--url {
    font-size: 12px;
    margin-left: 10px;
  }
}
.header__liens--url:hover {
  text-decoration: underline;
}

.footer {
  height: 209px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
@media screen and (max-width: 375px) {
  .footer {
    margin-top: 100px;
  }
}
.footer__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #FFFFFF;
  margin-top: 32px;
}
@media screen and (max-width: 375px) {
  .footer__text {
    font-size: 12px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 60px;
  row-gap: 50px;
  border-radius: 25px;
  background: #F6F6F6;
  padding: 56px 50px;
  margin-top: 43px;
}
@media screen and (max-width: 1240px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: none;
  }
}
@media screen and (max-width: 375px) {
  .gallery {
    margin-top: 22px;
    padding: 0;
    row-gap: 20px;
  }
}

.apropos__image {
  border-radius: 25px;
  filter: brightness(0.8);
}

.about {
  width: 1023px;
  margin: 31px auto;
}
@media screen and (max-width: 1240px) {
  .about {
    width: 90%;
  }
}

.details {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1240px) {
  .details {
    padding: 0 20px;
    display: block;
  }
}

.erreurPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 103px auto 159px auto;
}
.erreurPage__titre {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18rem;
  color: #FF6060;
}
.erreurPage__texte {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  color: #FF6060;
}
.erreurPage__retour {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #FF6060;
  margin-top: 182px;
}

/*# sourceMappingURL=style.css.map */
