$fonts: (principal-title: (family : $font,
        weight : 500,
        size : 3rem,
        colour : $colourWhite,
        lineHeight : 4.278rem),
    principal-title_2: (family : $font,
        weight : 500,
        size : 2.25rem,
        colour : $colourPrimary,
        lineHeight : 3.209rem),
    text-link : (family : $font,
        weight : 500,
        size : 1.5rem,
        colour : $colourPrimary,
        lineHeight : 2.139rem),
    text-w : (family : $font,
        weight : 500,
        size : 1.125rem,
        colour : $colourWhite,
        lineHeight : 1.604rem),
    text-r : (family : $font,
        weight : 500,
        size : 1.125rem,
        colour : $colourWhite,
        lineHeight : 1.604rem))