.note {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 24px;

    @include mobile {
        margin-top: 0;
    }

    & img {
        @include mobile {
            width: 15px;
            height: 15px;
        }
    }

}