.tags {
    display: flex;
    margin-top: 20px;

    @include mobile {
        margin-top: 10px
    }

    &__tag {
        @include fonts(text-w-b);
        background: #FF6060;
        border-radius: 10px;
        padding: 3px 30px;
        margin-right: 10px;

        @include mobile {
            font-size: 10px;
            width: 80px;
            height: 18px;
            padding: 0;
            text-align: center;
        }
    }
}