.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;

    &__liens {
        display: flex;
        align-items: flex-end;

        &--url {
            @include fonts(text-link);
            text-decoration: none;
            margin-left: 57px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}